body {
    padding: 0px;
}
   
form {
    text-align: center;
    font-family: "Work Sans";
}

h1 {
    color: white;
    font-family: "Work Sans";
    font-weight: 700;
}

h2, h3 {
    color: #412554;
    font-family: "Work Sans";
    font-weight: 700;
}

h3 {
    padding: 0px 8%;
    max-width: 768px;
    margin: 25px auto;
}

p, label {
    color: #1d2d44;
    font-size: 16px;
    font-family: "Roboto";
    line-height: 1.5;
}

header {
    background-color: #008c51;
    background: linear-gradient(to bottom, rgba(0,140,81,0.75),rgba(0,140,90,.75)),url(img/zion-1800.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.12), 0 2px 8px rgba(0,0,0,0.22);
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: bold;
}

input {
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.12), 0 2px 8px rgba(0,0,0,0.22);
}

.submit {
    color: white;
    background: #084c61;
    transition: .2s;
    border: 0px solid transparent;
    box-shadow: 0 3px 12px rgba(0,0,0,0.12), 0 2px 8px rgba(0,0,0,0.22);
}

.submit:hover {
    background: #0e83a8;
    box-shadow: 0 3px 10px rgba(0,0,0,0.14), 0 2px 8px rgba(0,0,0,0.22);
}

.container > p,form,h2,section {
    padding: 0px 8%;
    max-width: 768px;
    margin: 50px auto;
}

.error-message {
    color: #611d08;
}

.title {
    text-align: center;
    margin: 75px auto;
}

#results-list {
    list-style-type: none;
    padding: 0;
}
.data {
     display: inline-block;
}
.icon img {
    display: inline-block;
    padding-right: 12px;
}
.icon img:first-child {
    width: 20px;
}

/*** Media Queries ***/
@media screen and (min-width: 768px) {
    p, label {
        font-size: 18px;
    }
    h1 {
        font-size: 42px;
    }
    input[type="text"] {
        width: 400px;
    }
    header {
        min-height: 500px;
    }
}